{% extends "vetclinic/base.html" %}
{% load static %}

{% block title %}
Удаление услуги
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pricelist.css' %}">
{% endblock %}

{% block content %}

    <div class="form-card">
        <h2>Удалить услугу</h2>

        <div class="table-container">
            <table class="price-table">
                <thead>
                    <tr>
                        <th>Услуга</th>
                        <th>Категория</th>
                        <th>Стоимость, BYN</th>
                        <th>Комментарий</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ service.name }}</td>
                        <td>{{ service.category }}</td>
                        <td>{{ service.price }}</td>
                        <td>{{ service.comment }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form method="post">
            {% csrf_token %}
            <button type="submit">
                Удалить
            </button>
        </form>
    </div>

{% endblock %}